body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px; /* Adjust as needed for spacing between items */
}

.item {
    border: 1px solid black;
    flex: 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/* Your CSS Code here. */